{% extends 'base.html' %}


{% block content %}
	
	
	<h3>Links:</h3> <br><br>
		Alemão:<br><br>
		<a href="https://pt.glosbe.com/de/pt/leiden" target="_blank">Glosbe - Dicionário, frases</a> <br> 
	 	<a href="https://translate.google.com.br/?hl=pt-BR" target="_blank">Google Tradutor</a> <br> 
		<a href="https://context.reverso.net/%C3%BCbersetzung/deutsch-portugiesisch/in+unserem" target="_blank">Reverso - Dicionário, frases</a> <br><br>
		Inglês:
		</a> <br><br>
		<br><br><br><br><br><br>
		Usar preferencialmente o Google Chrome (não é compatível com Mozilla Firefox)
{% endblock %}




