{% extends 'base.html' %}

{% block content %}

	<form method="post">{% csrf_token %}		
		<!--Oi, {{ user.get_username }}<br><br>-->
		<!--<input type="submit" value="Começar Sessão" name="comecar_sessao"><br><br>-->
		<input type="submit" value="Alemão" name="comecar_sessao_ale"><br><br>
		<input type="submit" value="Inglês" name="comecar_sessao_ing"><br><br>
		<input type="submit" value="Testar Uploader" name="testar_uploader"><br><br>
		<input type="submit" value="Testar Renumerar" name="testar_renumerar"><br><br>
		<!--Usuário:{{ user.get_username }}<br>
		Banco:-->
	</form>
{% endblock %}




